<div class="container footer"
     fxLayout="row wrap"
     fxLayout.lt-md="column"
     fxLayoutAlign="center center"
     fxLayoutGap="10px"
>
     <div fxFlex="100" fxFlex.gt-sm="50">
          <div fxLayout="row">
              <div fxLayout="40" fxFlexOffset="20px">
                  <h4>Links</h4>
                  <mat-list>
                      <mat-list-item><a >Home</a></mat-list-item>
                      <mat-list-item><a >About</a></mat-list-item>
                      <mat-list-item><a >Menu</a></mat-list-item>
                      <mat-list-item><a >Contact</a></mat-list-item>
                  </mat-list> 
              </div>
              <div fxFlex="55">
                   <h4>Our Address</h4>
                   <address style="text-size:80%">
                       amin sodkfdkf <br> warwtydgd <br>
                       <i class="fa fa-phone"></i>: 565612 <br>
                       <i class="fa fa-fax"></i>: 565612 <br>
                       <i class="fa fa-envelope"></i>: 565612 <br>
                       <a href="">food mail</a>
                   </address>
                     
              </div>
          </div>
     </div>
     <div fxFlex="100" fxFlex.gt-sm="45">
          <div style="text-align: center;">
                 <a mat-icon-button class="btn-google-plus" href=""><i></i></a>
                 <a mat-icon-button class="btn-facebook" href=""><i class="fab fa-facebook-square"></i></a>
                 <a mat-icon-button class="btn-linkedin" href=""><i></i>dfdfdfdf</a>
                 <a mat-icon-button class="btn-twitter" href=""><i></i></a>
                 <a mat-icon-button class="btn-youtube" href=""><i></i></a>
                 <a mat-icon-button class="btn-mail" href=""><i></i></a>
          </div>
     </div>
     <div>
         <p>copy right</p> 
     </div>
</div>
