

<div class="container"
     fxLayout="column"
     fxLayoutGap="10px"
>
     <div fxFlex>
        <div>
             <h3>Contact Us</h3>
        </div>
     </div>
     <div fxFlex>
         <div fxLayout="column" fxLayout.gt-sm="row">
             <div fxFlex="60" fxFlexOffset="20px">
                <h4>Our Address</h4>
                <address style="text-size:80%">
                    amin sodkfdkf <br> warwtydgd <br>
                    <i class="fa fa-phone"></i>: 565612 <br>
                    <i class="fa fa-fax"></i>: 565612 <br>
                    <i class="fa fa-envelope"></i>: 565612 <br>
                    <a href="">food mail</a>
                </address>
             </div>
             <div fxFlex="30">
                <h4>MAp of our Location</h4>
          </div>
         </div>
         
     </div>
     
</div>






