<div class="container" fxLayout="column" fxLayoutGap="10px">
     <div fxFlex>
          <div>
               <h3>Contact Us</h3>
          </div>
     </div>
     <div fxFlex>
          <div fxLayout="column" fxLayout.gt-sm="row">
               <div fxFlex="60" fxFlexOffset="20px">
                    <h4>Our Address</h4>
                    <address style="text-size:80%">
                         amin sodkfdkf <br> warwtydgd <br>
                         <i class="fa fa-phone"></i>: 565612 <br>
                         <i class="fa fa-fax"></i>: 565612 <br>
                         <i class="fa fa-envelope"></i>: 565612 <br>
                         <a href="">food mail</a>
                    </address>
               </div>
               <div fxFlex="30">
                    <h4>MAp of our Location</h4>
               </div>
          </div>

     </div>
     <div fxFlex fxFlexOffset="20px" class="form-size">
          <h3>Send us your feedback</h3>
          <p>{{feedbackFrom.value | json}} , {{feedbackFrom.status | json }}</p>
          <form novalidate [formGroup]="feedbackFrom" #fform="ngForm" (ngSubmit)="onSubmit()">
               <p>
                    <mat-form-field class="half-width">
                         <input matInput formControlName="firstname" placeholder="firstname" type="text" required>
                         <mat-error
                              *ngIf="formErrors.firstname">
                              {{formErrors.firstname}}
                         </mat-error>
                    </mat-form-field>
                    <mat-form-field class="half-width">
                         <input matInput formControlName="lastname"  placeholder="lastname" type="text" required>
                         <mat-error
                         *ngIf="formErrors.lastname">
                         {{formErrors.lastname}}
                          </mat-error>
                    </mat-form-field>
                    <mat-form-field class="half-width">
                         <input matInput formControlName="telnumber"  placeholder="tel number" type="tel" pattern="[0-9]*" required>
                         <mat-error
                              *ngIf="formErrors.telnumber">
                              {{formErrors.telnumber}}
                         </mat-error>
                    </mat-form-field>
                    <mat-form-field class="half-width">
                         <input matInput formControlName="email"  placeholder="email" type="email" email required>
                         <mat-error
                         *ngIf="formErrors.email">
                         {{formErrors.email}}
                    </mat-error>
                    </mat-form-field>
               </p>
               <table>
                    <td>
                         <mat-slide-toggle formControlName="agree">
                              May we contact you ?
                         </mat-slide-toggle>
                    </td>
                    <td>
                         <mat-select formControlName="contacttype" placeholder="How ?">
                              <mat-option *ngFor="let item of contactType" [value]="item">
                                   {{item}}
                              </mat-option>
                         </mat-select>
                    </td>

               </table>
               <p>
                    <mat-form-field class="full-width">
                         <textarea matInput formControlName="message" placeholder="your fedback :" rows=12>

                         </textarea>
                    </mat-form-field>
               </p>
               <button type="submit" mat-button class="background-primary text-floral-white"
                    [disabled]="feedbackFrom.invalid">Submit</button>
          </form>
     </div>
</div>