

<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxlayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

     <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
        <mat-card >
            <mat-card-header>
                <mat-card-title>
                    <h3>{{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{baseUrl +dish.image}}">
            <mat-card-content>
               <p>{{dish.description}}</p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail' , prev]">
                        <i class="fa fa-chevron-left fa-lg"></i> 
                </button>
                <button mat-button (click)="goBack()">Back</button>
                <button mat-button>Like</button>
                <button mat-button>Share</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail' , next]">
                    <i class="fa fa-chevron-right fa-lg"></i>
                </button>
            </mat-card-actions>
        </mat-card> 
     </div>
     <div fxFlex="40"  *ngIf="dish" [@visibility]="visibility">
         <mat-list >
             <h3>Comments</h3>
             <mat-list-item *ngFor="let comment of dish.comment">
                 <h4 matLine>{{comment.commnet}}</h4>
                 <p matLine>{{comment.rating}}</p>
                 <p matLine> -- {{comment.author}} {{comment.date}}</p>
             </mat-list-item>
         </mat-list>

     </div>
     <div fxFlex [hidden]="dish || errMsg">
        <mat-spinner>
           
        </mat-spinner>   
        <h4>Loading  ... please wait ! </h4>
    </div>
    <div fxFlex *ngIf="errMsg">
        <h2>Error</h2>
        <h4>{{errMsg}}</h4>
  </div>
</div>