/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "scss/fontawesome.scss";
@import "scss/solid.scss";

/* //  some basic resest   */

 body{
     padding: 0;
     margin: 0;
     font-family: Roboto , sans-serif;
 }
.footer{
   background-color: rgb(88, 99, 248);
}
 .container{
     margin: 2px;
     display: flex;
 }